# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.idea
.vscode
.history
*.pem

# dependencies
node_modules

# testing
/coverage
/results
junit.xml
/mochawesome-report

# production
*.zip
/build
/cache
/storybook-static

# local env files
.env

*.log
.DS_Store