* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: underline;
	}
}

a:visited {
	text-decoration: none;
	color: black;
}

ol,
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	border: none;
	background: none;
	appearance: none;
	padding: 0;
	cursor: pointer;

	/**
   * On Safari if a SVG has 'fill="currentColor"'
   * on active state the SVG will become white,
   * this rule overrides the Safari rule
   * 'color: "activebuttontext"'
   */
	color: initial;
}
